p {
    font-family: 'Trebuchet MS';
    line-height: 2em;
    color: blueviolet;
   }
   i {
    font-family: Impact;
    color: red;
   }
   h2 {
    font-family: 'Courier New';
    color: blue;}
    body{
        background-image: url(gunung.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }